.editDeleteContainer {
	display: flex;
	flex-direction: row;
	gap: 15px;
	margin-bottom: 10px;
}

.editIcon {
	cursor: pointer;
}

.deleteIcon {
	cursor: pointer;
}

.editInputWrapper {
	display: flex;
	gap: 10px;
}

.editInput {
	width: 200px;
}