.wrapper {
	margin-bottom: 30px;
}

.newMessageInputContainer {
	display: flex;
	gap: 10px;
	height: 30px;
	margin-bottom: 10px;
}

.newMessageInput {
	width: 300px;
}

.errorMessageContainer {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.closeErrorIcon {
	cursor: pointer;
}